
<link rel="stylesheet" href="assets/css/style.css"> 

<br><br>
<nav id="mobile_navigation"></nav>
			
			<section id="breadcrumbs">
				<div class="container">
					<ul>
						<li><a href="#">{{'Desktop' | translate}}</a></li>
						<li><a [routerLink]="['/signal']"><b>{{'Signal.SignalToday' | translate}}</b></a></li>							
						<li><a [routerLink]="['/signalMonth']">{{'Signal.SignalMonth' | translate}}</a></li>
						<li><a [routerLink]="['/signalAll']">{{'Signal.TotalSignal' | translate}}</a></li>	
								
					</ul>
				</div>
			</section>

          <section class="container clearfix main_section">
				<div id="main_content_outer" class="clearfix">
					<div id="">
						<form #formSignal="ngForm" class="ngForm" (ngSubmit)="onSubmitSignal()">
						<!-- main content -->
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">{{'Signal.CreateSignal' | translate}}</h4>
									</div>
									<table id="dt_basic" class="table table-striped">
										<tr>
											<td>{{'Signal.Instrument' | translate}}</td>
											<td>
												<select #instrument="ngModel" name="instrument" [(ngModel)]="signal.instrument"  class="form-control">
													<option value="">- {{'Signal.Instrument' | translate}} -</option>
													<option value="Crude_oli">Crude_oli </option>
													<option value="EUR/USD">EUR/USD</option>
													<option value="GBP/USD">GBP/USD</option>
												</select>
											</td>
										</tr>
										<tr>
											<td>{{'Signal.OpenPrice' | translate}}</td>
											<td><input type="text" #open_price="ngModel" name="open_price" class="form-control" [(ngModel)]="signal.open_price" ></td>
										</tr>
										<tr>
											<td>{{'Signal.Trend' | translate}}</td>
											<td>
												<select #trend="ngModel"  name="trend" [(ngModel)]="signal.trend" class="form-control">
													<option value="">- {{'Signal.Instrument' | translate}} -</option>
													<option value="comprar">{{'Signal.Buy' | translate}} </option>
													<option value="vender">{{'Signal.Sell' | translate}}</option>
												</select>
											</td>
										</tr>
										<tr>
											<td>T/P 1</td>
											<td><input type="text" #tp1="ngModel" name="tp1" [(ngModel)]="signal.tp1"  class="form-control"></td>
										</tr>
										<tr>
											<td>T/P 2</td>
											<td><input type="text" #tp2="ngModel" name="tp2" [(ngModel)]="signal.tp2" class="form-control"></td>
										</tr>
										<tr>
											<td>S/L</td>
											<td><input type="text" #sl="ngModel" name="sl" [(ngModel)]="signal.sl" class="form-control"></td>
										</tr>
										
										<tr>
											<td>{{'Signal.InitialGraph' | translate}}</td>
											<td>
												<div class="row">
												<div class="col-sm-6">
												 <input type="file" class="form-control" (change)="fileChangeEvent($event)"><br><br>
												</div>
												</div>
											</td>
										</tr>
                                        <tr>
                                        <td>{{'Signal.AddressTrend' | translate}}</td> 
										<td>
												<select #type_trend="ngModel"  name="type_trend" [(ngModel)]="signal.type_trend" class="form-control">
												
													<option value="Alcista">{{'Signal.UpTrend' | translate}}</option>
													<option value="Bajista">{{'Signal.DownTrend' | translate}}</option>
													
												</select>
											</td>
										</tr>


										<tr>
											<td>{{'Signal.Analyst' | translate}}</td>
											<td><input type="text" #analyst="ngModel" name="analyst" [(ngModel)]="signal.analyst" class="form-control"></td>
										</tr>

									
									    <tr>
											<td>Fecha</td>
											<td><input type="date" #date="ngModel" name="date" [(ngModel)]="signal.date" class="form-control"></td>
										</tr>

                                            
										<tr>
											<td>S/L</td>
											<td><input type="submit" value="{{'Signal.CreateSignal' | translate}}" ></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						</form>
					</div>
						
					
					</div>


          </section>