<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" type="text/javascript" href="assets/bootstrap/css/bootstrap.min.css">

<br><br>
<section id="breadcrumbs">
				<div class="container">
					<ul>
						
						<li><a [routerLink]="['/users']">{{'User.PartnerBack' | translate}}</a></li>					
					</ul>
				</div>
			</section>
 

<section class="container clearfix main_section">
				<div id="main_content_outer" class="clearfix">
					 
					 <form #formUserAdministrative ="ngForm">
						<!-- main content -->
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">{{'User.CreateUser' | translate}}</h4>
									</div>
									<table id="dt_basic" class="table table-striped">
										

										<tr>
											<td>{{'User.IdentityCard' | translate}}</td>
											<td><input type="text" #identityCard="ngModel"  name="identityCard" [(ngModel)]="user_administrative.identityCard" class="form-control"></td>
										</tr>

										<tr>
											<td>{{'User.Name' | translate}}</td>
											<td><input type="text" #name="ngModel"  name="name" [(ngModel)]="user_administrative.name" class="form-control"></td>
										</tr>
										
										<tr>
											<td>Jerarquía</td>
											<td><input type="text" #hierarchy="ngModel"  name="hierarchy" [(ngModel)]="user_administrative.hierarchy" class="form-control"></td>
										</tr>
										
										<tr>
											<td>{{'User.Email' | translate}}</td>
											<td><input type="text" #email="ngModel"  name="email" [(ngModel)]="user_administrative.email" class="form-control"></td>
										</tr>
										
										<tr>
											<td>{{'User.Telephone' | translate}}</td>
											<td><input type="text" #telephone="ngModel"  name="telephone" [(ngModel)]="user_administrative.telephone" class="form-control"></td>

										</tr>
										<tr>
											<td>{{'User.Country' | translate}}</td>
											<td><input type="text" #country="ngModel"  name="country" [(ngModel)]="user_administrative.country" class="form-control"></td>
										</tr>
										<tr>
											<td>{{'User.Address' | translate}}</td>
											<td><input type="text" #address="ngModel"  name="address" [(ngModel)]="user_administrative.address" class="form-control"></td>
										</tr>
										
										<tr>
											<td>Fecha</td>
											<td><input type="text" #date_user_administrative="ngModel"  name="date_user_administrative" [(ngModel)]="user_administrative.date_user_administrative" class="form-control"></td>
                                        </tr>

										<tr>
											<td></td>
											<td><input type="submit" value="Volver" ></td>
										</tr>
									</table>
								</div>
							</div>
						</div>	
						</form>		
					</div>
			
			</section>




