
<link rel="stylesheet" href="assets/css/style.css"> 

<br><br>
<nav id="mobile_navigation"></nav>
			
			<section id="breadcrumbs">
				<div class="container">
					<ul>
						<li><a href="#">{{'Desktop' | translate}}</a></li>
						<li><a [routerLink]="['/signal']"><b>{{'Signal.SignalToday' | translate}}</b></a></li>							
						<li><a [routerLink]="['/signalMonth']">{{'Signal.SignalMonth' | translate}}</a></li>
						<li><a [routerLink]="['/signalAll']">{{'Signal.TotalSignal' | translate}}</a></li>	
								
					</ul>
				</div>
			</section>

          <section class="container clearfix main_section">
				<div id="main_content_outer" class="clearfix">
					<div id="">
						<form #formSignal="ngForm" class="ngForm" (ngSubmit)="onSubmitSignal()">
						<!-- main content -->
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">{{'Signal.CreateSignal' | translate}}</h4>
									</div>
									<table id="dt_basic" class="table table-striped">
										<tr>
											<td>{{'Signal.Instrument' | translate}}</td>
											<td>
												<select #instrument="ngModel" name="instrument" [(ngModel)]="signal.instrument"  class="form-control">
													<option value="">- {{'Signal.Instrument' | translate}} -</option>
													<option value="Crude_oli">Crude_oli </option>
													<option value="EUR/USD">EUR/USD</option>
													<option value="GBP/USD">GBP/USD</option>
												</select>
											</td>
										</tr>
										<tr>
											<td>{{'Signal.OpenPrice' | translate}}</td>
											<td><input type="text" #open_price="ngModel" name="open_price" class="form-control" [(ngModel)]="signal.open_price" ></td>
										</tr>
										<tr>
											<td>{{'Signal.Trend' | translate}}</td>
											<td>
												<select #trend="ngModel"  name="trend" [(ngModel)]="signal.trend" class="form-control">
													<option value="">- {{'Signal.Instrument' | translate}} -</option>
													<option value="comprar">{{'Signal.Buy' | translate}} </option>
													<option value="vender">{{'Signal.Sell' | translate}}</option>
												</select>
											</td>
										</tr>
										<tr>
											<td>T/P 1</td>
											<td><input type="text" #tp1="ngModel" name="tp1" [(ngModel)]="signal.tp1"  class="form-control"></td>
										</tr>
										<tr>
											<td>T/P 2</td>
											<td><input type="text" #tp2="ngModel" name="tp2" [(ngModel)]="signal.tp2" class="form-control"></td>
										</tr>
										<tr>
											<td>S/L</td>
											<td><input type="text" #sl="ngModel" name="sl" [(ngModel)]="signal.sl" class="form-control"></td>
										</tr>
										
										<tr>
											<td>{{'Signal.InitialGraph' | translate}}</td>
											<td>
												<div class="row">
												<div class="col-sm-6">
												 <input type="file" class="form-control" (change)="fileChangeEvent($event)"><br><br>
												</div>
												</div>
											</td>
										</tr>
                                        <tr>
                                        <td>Dirección de tendencia</td> 
										<td>
												<select #type_trend="ngModel"  name="type_trend" [(ngModel)]="signal.type_trend" class="form-control">
												
													<option value="Alcista">Alcista</option>
													<option value="Bajista">Bajista</option>
													
												</select>
											</td>
										</tr>


										<tr>
											<td>Analista</td>
											<td><input type="text" #analyst="ngModel" name="analyst" [(ngModel)]="signal.analyst" class="form-control"></td>
										</tr>

										<tr>
											




<tr style="height: 40px;">
											<td>{{'User.StartDate' | translate}}</td>
											<ul style=" margin-top: 50px;" id="fecha">
											
				   <td><select  #year="ngModel" class="year" [(ngModel)]="signal.year" name="year" class="form-control" style="width: 130px; margin-top: 10px; margin-right: 25px;" >
														
														<option value="CW">{{'User.Year' | translate}}</option>
														<option value="2017">2017</option>
														<option value="2018">2018</option>
														<option value="2019">2019</option>
														<option value="2020">2020</option>
														<option value="2021">2021</option>
														<option value="2022">2022</option>
														<option value="2023">2023</option>
														<option value="2024">2024</option>
														<option value="2025">2025</option>
														<option value="2026">2026</option>
														<option value="2027">2027</option>
														<option value="2028">2028</option>
														<option value="2029">2029</option>
														<option value="2030">2030</option>
														<option value="2031">2031</option>
														<option value="2032">2032</option>
														<option value="2033">2033</option>
														<option value="2034">2034</option>
														<option value="2035">2035</option>
														<option value="2036">2036</option>
														<option value="2037">2037</option>
														<option value="2038">2038</option>
														<option value="2039">2039</option>
														<option value="2040">2040</option>
														<option value="2041">2041</option>
														<option value="2042">2042</option>
														<option value="2043">2043</option>
														<option value="2044">2044</option>
														<option value="2045">2045</option>
														<option value="2046">2046</option>
														<option value="2047">2047</option>
														<option value="2048">2048</option>
														<option value="2049">2049</option>
														<option value="2050">2050</option>



													</select></td>


													<td><select #month="ngModel" name="month" [(ngModel)]="signal.month" class="form-control" style=" width: 130px; margin-right: 25px;">
														
	
                                                        <option>{{'User.Month' | translate}}</option>
														<option value="01">{{'User.January' | translate}}</option>
														<option value="02">{{'User.February' | translate}}</option>
														<option value="03">{{'User.March' | translate}}</option>
														<option value="04">{{'User.April' | translate}}</option>
														<option value="05">{{'User.May' | translate}}</option>
														<option value="06">{{'User.June' | translate}}</option>
														<option value="07">{{'User.July' | translate}}</option>
														<option value="08">{{'User.August' | translate}}</option>
														<option value="09">{{'User.September' | translate}}</option>
														<option value="10">{{'User.October' | translate}}</option>
														<option value="11">{{'User.November' | translate}}</option>
														<option value="12">{{'User.December' | translate}}</option>


													</select></td>

													<td><select #day="ngModel" class="day" name="day" [(ngModel)]="signal.day" class="form-control" style=" width: 130px;">
														
														<option >{{'User.Day' | translate}}</option>
														<option value="01">1</option>
														<option value="02">2</option>
														<option value="03">3</option>
														<option value="04">4</option>
														<option value="05">5</option>
														<option value="06">6</option>
														<option value="07">7</option>
														<option value="08">8</option>
														<option value="09">9</option>
														<option value="10">10</option>
														<option value="11">11</option>
														<option value="12">12</option>
														<option value="13">13</option>
														<option value="14">14</option>
														<option value="15">15</option>
														<option value="16">16</option>
														<option value="17">17</option>
														<option value="18">18</option>
														<option value="19">19</option>
														<option value="20">20</option>
														<option value="21">21</option>
														<option value="22">22</option>
														<option value="23">23</option>
														<option value="24">24</option>
														<option value="25">25</option>
														<option value="26">26</option>
														<option value="27">27</option>
														<option value="28">28</option>
														<option value="29">29</option>
														<option value="30">30</option>
														<option value="31">31</option>

													</select></td>
				

                                                     </ul>

					            				


































										</tr>
                                            
										<tr>
											<td>S/L</td>
											<td><input type="submit" value="{{'Signal.CreateSignal' | translate}}" ></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						</form>
					</div>
						
					
					</div>


          </section>