<link rel="stylesheet" href="assets/css/style.css">

<br><br>

<style type="text/css">
	

#fecha{

display: inline;

}

#fecha li{

display: inline;

}

</style>


<nav id="mobile_navigation"></nav>
			
			<section id="breadcrumbs">
				<div class="container">
					<ul>
						
						<li><a *ngIf="admin==true" [routerLink]="['/users']">{{'User.AdministrativeUser' | translate}}</a></li>	
						<li><a *ngIf="admin==true" [routerLink]="['/userAnalyst']">{{'User.AnalystUser' | translate}}</a></li>
						<li><a *ngIf="admin==true" [routerLink]="['/clientUser']">{{'User.ClientSignal' | translate}}</a></li>
						<li><a *ngIf="admin==true" [routerLink]="['/preferredUser']">{{'User.PreferredPartnerUsers' | translate}}</a></li>

					</ul>
				
                  
				</div>
			</section>


<div *ngIf="admin!=true" class="error"><b>{{'User.RestrictedAccess' | translate}}</b></div>

<section *ngIf="admin==true" class="container clearfix main_section">
				<div id="main_content_outer" class="clearfix">

				
					<div id="">
						<form #formUser_partner="ngForm" (ngSubmit)="onSubmitUserPartner()">
						<!-- main content -->
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div *ngIf="admin==true" class="panel-heading">
										<h4 *ngIf="admin==true" class="panel-title">{{'User.DataPartner' | translate}}</h4>
									</div>
									
									<table *ngIf="admin==true" id="dt_basic" class="table table-striped">
									<script src="js/archivo_ajax.js"></script>
										
										<tr>
											<td>{{'User.Name' | translate}}</td>
											<td><input type="text" #name_partner="ngModel" name="name_partner" [(ngModel)]="user_partner.name_partner" class="form-control"></td>
										</tr>
										<tr>
											<td>{{'User.IdentityCard' | translate}}</td>
											<td><input type="text" #identityCard_partner="ngModel" name="identityCard_partner" [(ngModel)]="user_partner.identityCard_partner" class="form-control"></td>
										</tr>
										<tr>
											<td>{{'User.Gender' | translate}}</td>
											<td >
												  <input type="radio"  #gender_partner="ngModel" name="gender_partner"  value="male"  [(ngModel)]="user_partner.gender_partner" >{{'User.Man' | translate}}  <input type="radio" #gender_partner="ngModel" name="gender_partner" [(ngModel)]="user_partner.gender_partner" style="margin-left: 15px;" value="female" >  {{'User.Woman' | translate}}<br>

											</td>
										</tr>

										<tr>
											<td>{{'User.CivilStatus' | translate}}</td>
											<td><input type="text" #civil_status_partner="ngModel" name="civil_status_partner" [(ngModel)]="user_partner.civil_status_partner" class="form-control"></td>
										</tr>
										<tr>
											<td>{{'User.Profession' | translate}}</td>
											<td><input type="text" #profession_partner="ngModel" name="profession_partner" [(ngModel)]="user_partner.profession_partner" class="form-control"></td>
										</tr>
										
										<tr>
											<td>{{'User.Email' | translate}}</td>
											<td><input type="email" #email_partner="ngModel" name="email_partner" [(ngModel)]="user_partner.email_partner" class="form-control"></td>
										</tr>
										<tr>
											<td>{{'User.Telephone' | translate}}</td>
											<td><input type="tel" #telephone_partner="ngModel" name="telephone_partner" [(ngModel)]="user_partner.telephone_partner" class="form-control"></td>
										</tr>

                                        <tr>
											<td>{{'User.CopyIdentityCard' | translate}}</td>
											<td>
												<div class="row">
												<div class="col-sm-6">
												 <input type="file" class="form-control" (change)="fileChangeEventIdentity($event)"><br><br>
												</div>
												</div>
											</td>
										</tr>


										 <tr>
											<td>{{'User.CopyReceipt' | translate}}</td>
											<td>
												<div class="row">
												<div class="col-sm-6">
												 <input type="file" class="form-control" (change)="fileChangeEventVoucher($event)"><br><br>
												</div>
												</div>
											</td>
										</tr>

                                        <tr>
											<td>{{'User.Country' | translate}}</td>
											<td>
												 <div class="col-sm-6 clearfix">
                                                <h4 class="heading_a">{{'User.SelectCountry' | translate}}</h4>
                                                <div class="sepH_a">
													<select #country_partner="ngModel" name="country_partner" [(ngModel)]="user_partner.country_partner" class="form-control">
														<option value="Antigua y Barbuda">Antigua y Barbuda</option>
														<option value="AX">Åland Islands</option>
														<option value="Argentina">Argentina</option>
														<option value="Bahamas">Bahamas</option>
														<option value="Barbados">Barbados</option>
														<option value="Belice">Belice</option>
														<option value="Bolivia">Bolivia</option>
														<option value="Brasil">Brasil</option>
														<option value="Canadá">Canadá</option>
														<option value="Chile">Chile</option>
														<option value="Colombia">Colombia</option>
														<option value="Costa Rica">Costa Rica</option>
														<option value="Cuba">Cuba</option>
														<option value="Dominica">Dominica</option>
														<option value="Ecuador">Ecuador</option>
														<option value="El Salvador">El Salvador</option>
														<option value="Estados Unidos">Estados Unidos</option>
														<option value="Granada">Granada</option>
														<option value="Guatemala">Guatemala</option>
														<option value="Guyana">Guyana</option>
														<option value="Haití">Haití</option>
														<option value="Honduras">Honduras</option>
														<option value="Jamaica">Jamaica</option>
														<option value="México">México</option>
														<option value="Nicaragua">Nicaragua</option>
														<option value="Panamá">Panamá</option>
														<option value="Paraguay">Paraguay</option>
														<option value="Perú">Perú</option>
														<option value="República Dominicana">República Dominicana</option>
														<option value="San Cristóbal y Nieves">San Cristóbal y Nieves</option>
														<option value="San Vicente y las Granadinas">San Vicente y las Granadinas</option>
														<option value="Santa Lucía">Santa Lucía</option>
														<option value="Trinidad y Tobago">Trinidad y Tobago</option>
														<option value="Uruguay">Uruguay</option>
														<option value="Venezuela">Venezuela</option>
													</select>
												  </div>
												</div>
											</td>
										</tr>
										<tr>
											<td>{{'User.Address' | translate}}</td>
											<td><input type="text" #address_partner="ngModel" name="address_partner" [(ngModel)]="user_partner.address_partner" class="form-control"></td>
										</tr>
										<tr>
											<td>{{'User.InvestmentAmount' | translate}}</td>
											
												<td><input type="text" #investment_amount_partner="ngModel" name="investment_amount_partner" [(ngModel)]="user_partner.investment_amount_partner" class="form-control"></td>
											
										</tr>
										<tr>
											<td>{{'User.Time' | translate}}</td>
											<td><input type="text" #time_partner="ngModel" name="time_partner" [(ngModel)]="user_partner.time_partner" class="form-control"></td>
										</tr>
										<tr>
											<td>{{'User.Interest' | translate}}</td>
											<td><input type="text" #interest_partner="ngModel" name="interest_partner" [(ngModel)]="user_partner.interest_partner" class="form-control"></td>
										</tr>
										<tr>
											<td>{{'User.ReferredToBy' | translate}}</td>
											<td><input type="text" #referred_partner="ngModel" name="referred_partner" [(ngModel)]="user_partner.referred_partner" class="form-control"></td>
										</tr>
										<tr>
											<td>{{'User.StartDate' | translate}}</td>
											<td><input type="date" #date_start_partner="ngModel" name="date_start_partner" [(ngModel)]="user_partner.date_start_partner" class="form-control"></td>
										</tr>
										<tr>
											<td>{{'User.EndDate' | translate}}</td>
											<td><input type="date" #date_end_partner="ngModel" name="date_end_partner" [(ngModel)]="user_partner.date_end_partner" class="form-control"></td>
										</tr>


                                       <tr>
											<td></td>
											<td><input type="submit" value="{{'User.CreateUserPreferent' | translate}}" ></td>
										</tr>

										
										<!--<tr>
											<td>Foto de cedula</td>
											<td>
												<div class="row">
												<div class="col-sm-6">
													<div class="fileupload fileupload-new" data-provides="fileupload">
														<div class="input-group">
															<div class="form-control">
																<i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span>
															</div>
															<div class="input-group-btn">
																<a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
																<span class="btn btn-default btn-file">
																	<span class="fileupload-new">Select file</span>
																	<span class="fileupload-exists">Change</span>
																	<input type="file" />
																</span>
															</div>
														</div>
													</div>  
												</div>
											</td>
										</tr>-->
										
										
                                            
										
									</table>
									
								</div>
							</div>
						</div>
					

					<BR><BR><BR>

					<!-- main content -->
						
					  </form>
				
					</div>
				
				</div>
			</section>