<link rel="stylesheet" href="assets/css/style.css">

<nav id="mobile_navigation"></nav>
			<br><br>
			<section id="breadcrumbs">
				<div class="container">
					<ul>
						<li><a href="#">Escritorio</a></li>
						<li><a href="#">Ventas día</a></li>	
						<li><a href="#">Ventas mes</a></li>
						<li><a href="#">Ventas año</a></li>
						<li><a href="#">Pagos pendientes</a></li>
						<li><a href="#">Pagos realizados</a></li>					
					</ul>
				</div>
			</section>

 
  	<section class="container clearfix main_section">
				<div id="main_content_outer" class="clearfix">
			      
						
						<!-- main content -->
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">Ventas generales | Buscar por fechas de __________________ a ____________________  </h4>
									</div>
									<table id="dt_basic" class="table table-striped">
										<thead>
											<tr>
												<th>ID</th>
												<th>Nombre</th>
												<th>Correo electrónico</th>
												<th>Anfintrion</th>
												<th>País</th>
												<th>Fecha</th>
												<th>Monto</th>
												<th>Cantidad de pagos</th>
											</tr>
										</thead>
										<tbody>
											<tr>
											<td>1</td>
											<td>José Luis Lopez</td>
											<td>joseluis@sequeiraglobal.com</td>
											<td>Antonio Solis</td>
											<td>Colombia</td>
											<td>11/06/2017</td>
											<td>$125.00</td>
											<td>4</td>
											</tr>

											<tr>
											<td>2</td>
											<td>Felipe Hontintong</td>
											<td>fhontintong@sequeiraglobal.com</td>
											<td>Susan Hontintong</td>
											<td>Costa Rica</td>
											<td>11/06/207</td>
											<td>$249.00</td>
											<td>3</td>
											</tr>
										
											<tr><td colspan="6"></td><td>$374.00</td><td></td></tr>
											
										</tbody>
									</table>
								</div>
							</div>
						</div>
			
						
					
					</div>
	
			</section>