<link rel="stylesheet" href="assets/css/style.css">

<br><br>
<nav id="mobile_navigation"></nav>
			
			<section id="breadcrumbs">
				<div class="container">
					<ul>
						
						<li><a [routerLink]="['/users']">{{'User.AdministrativeUser' | translate}}</a></li>	
						<li><a [routerLink]="['/userAnalyst']">{{'User.AnalystUser' | translate}}</a></li>
						<li><a [routerLink]="['/clientUser']">{{'User.ClientSignal' | translate}}</a></li>					
					</ul>
					<ul>
                     <li><a [routerLink]="['/createPartner']">{{'User.CreatePreferredPartner' | translate}}</a></li>
                     <li><a [routerLink]="['/createBankPartner']">{{'User.CreateCountPartner' | translate}}</a></li>

					</ul>
				</div>
			</section>

			<section class="container clearfix main_section">
				<div id="main_content_outer" class="clearfix">
				
						
						<!-- main content -->
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">{{'User.PreferredPartner' | translate}}</h4>
									</div>
									<table id="dt_basic" class="table table-striped">
										<thead>
											<tr>
												<th>{{'User.SeeUser' | translate}}</th>
												<th>{{'User.EditUser' | translate}}</th>
												<th>{{'User.Name' | translate}}</th>
												<th>{{'User.Email' | translate}}</th>
												<th>{{'User.Telephone' | translate}}</th>
												<th>{{'User.Country' | translate}}</th>
												<th>{{'Signal.Date' | translate}}</th>
												<th>{{'User.Address' | translate}}</th>
											</tr>
										</thead>
										<tbody>

											<tr *ngFor=" let user of user_array ">
											<th><a [routerLink]="['/user_partner-detail',user.id]" >{{'Signal.See' | translate}}</a></th>
											<th><a [routerLink]="['/user_partner-edit',user.id]" >{{'User.Edit' | translate}}</a></th>
											<td>{{user.name_partner}}</td>
											<td>{{user.email_partner}}</td>
											<td>{{user.telephone_partner}}</td>
											<td>{{user.country_partner}}</td>
											<td>{{user.date_end_partner}}</td>
											<td>{{user.address_partner}}</td></tr>
											
										</tbody>
									</table>
								</div>
							</div>
						</div>
			
						
					
					</div>
				
			</section>