<link rel="stylesheet" href="assets/css/style.css"> 
<link rel="stylesheet" href="assets/style_img.css">

<br><br>
<nav id="mobile_navigation"></nav>
			
			<section id="breadcrumbs">
				<div class="container">
					<ul>
						
						<li><a [routerLink]="['/signal']" >{{'Signal.BackSignal' | translate}}</a></li>	
								
					</ul>
				</div>
			</section>

          <section class="container clearfix main_section">
				<div id="main_content_outer" class="clearfix">
					<div id="">
						<form class="ngForm">
						<!-- main content -->
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">{{'Signal.CreateSignal' | translate}}</h4>
									</div>
									<table id="dt_basic" class="table table-striped">
										<tr>
											<td>{{'Signal.Instrument' | translate}}</td>
											<td>
												<input type="text" value="{{signal.instrument}}"  class="form-control" disabled/>
											</td>
										</tr>
										<tr>
											<td>{{'Signal.OpenPrice' | translate}}</td>
											<td><input type="text" value="{{signal.open_price}}"  class="form-control"  disabled></td>
										</tr>
										<tr>
											<td>{{'Signal.Trend' | translate}}</td>
											<td>
												<select #trend="ngModel"  name="trend" [(ngModel)]="signal.trend" class="form-control" disabled>
													<option value="">- {{'Signal.Instrument' | translate}} -</option>
													<option value="comprar">{{'Signal.Buy' | translate}} </option>
													<option value="vender">{{'Signal.Sell' | translate}}</option>
												</select>
											</td>
										</tr>
										<tr>
											<td>T/P 1</td>
											<td><input type="text" value="{{signal.tp1}}" class="form-control" disabled></td>
										</tr>
										<tr>
											<td>T/P 2</td>
											<td><input type="text" value="{{signal.tp2}}" class="form-control" disabled></td>
										</tr>
										<tr>
											<td>S/L</td>
											<td><input type="text" value="{{signal.sl}}"  class="form-control" disabled></td>
										</tr>
										<tr>
											<td>{{'Signal.Analyst' | translate}}</td>
											<td><input type="text" value="{{user_analyst.name_analyst}}"  class="form-control" disabled></td>
										</tr>
                                          

									
									</table>
								</div>
							</div>
						</div>
						 <div><br><br><br>
						 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'Signal.GraphInitial' | translate}}
										 <br><br>
 
                                            <div class="contenedora-img ejemplo-1">
					        				<img src="http://localhost/sequeira-global-backend/uploads/{{signal.graph_image}}" class="threed" style="width:30%; height: 180px; margin-left: 330px; border-radius: 10px;" class="threed"/><br><br></div>


                                          </div>

										  <div>
										  <br><p style="margin-left: 500px; "></p>
										  </div>

						            </form>
					 </div>
						
                     </div>


          </section>