
<link rel="stylesheet" href="assets/css/style.css"> 

<br><br>
<nav id="mobile_navigation"></nav>
			
			<section id="breadcrumbs">
				<div class="container">
					<ul>
						<li><a href="#">{{'Desktop' | translate}}</a></li>
						<li><a href="#"><b>{{'Signal.SignalToday' | translate}}</b></a></li>	
						<li><a href="alerts_tranding_new.html">{{'Signal.CreateSignal' | translate}}</a></li>							
						<li><a href="#">{{'Signal.SignalMonth' | translate}}</a></li>
						<li><a href="#">{{'Signal.TotalSignal' | translate}}</a></li>	
								
					</ul>
				</div>
			</section>

          <section class="container clearfix main_section">
				<div id="main_content_outer" class="clearfix">
					<div id="">
						<form #formSignal="ngForm" class="ngForm" (ngSubmit)="onSubmitSignal()">
						<!-- main content -->
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">{{'Signal.CreateSignal' | translate}}</h4>
									</div>
									<table id="dt_basic" class="table table-striped">
										<tr>
											<td>{{'Signal.Instrument' | translate}}</td>
											<td>
												<select #instrument="ngModel" name="instrument" [(ngModel)]="signal.instrument"  class="form-control" disabled>
													<option value="">- {{'Signal.Instrument' | translate}} -</option>
													<option value="Crude_oli">Crude_oli </option>
													<option value="EUR/USD">EUR/USD</option>
													<option value="GBP/USD">GBP/USD</option>
												</select>
											</td>
										</tr>
										<tr>
											<td>{{'Signal.OpenPrice' | translate}}</td>
											<td><input type="text" #open_price="ngModel" name="open_price" class="form-control" [(ngModel)]="signal.open_price" disabled></td>
										</tr>
										<tr>
											<td>{{'Signal.Trend' | translate}}</td>
											<td>
												<select #trend="ngModel"  name="trend" [(ngModel)]="signal.trend" class="form-control" disabled>
													<option value="">- {{'Signal.Instrument' | translate}} -</option>
													<option value="comprar">{{'Signal.Buy' | translate}} </option>
													<option value="vender">{{'Signal.Sell' | translate}}</option>
												</select>
											</td>
										</tr>
										<tr>
											<td>T/P 1</td>
											<td><input type="text" #tp1="ngModel" name="tp1" [(ngModel)]="signal.tp1"  class="form-control" disabled></td>
										</tr>
										<tr>
											<td>T/P 2</td>
											<td><input type="text" #tp2="ngModel" name="tp2" [(ngModel)]="signal.tp2" class="form-control" disabled></td>
										</tr>
										<tr>
											<td>S/L</td>
											<td><input type="text" #sl="ngModel" name="sl" [(ngModel)]="signal.sl" class="form-control" disabled></td>
										</tr>

										 <tr>
                                        <td>Condición</td> 
										<td>
												<select #condition_signal="ngModel"  name="condition_signal" [(ngModel)]="signal.condition_signal" class="form-control">
												
													<option value="Abierta">Abierta</option>
													<option value="Cerrada">Cerrada</option>
													
												</select>
											</td>
										</tr>


										<tr>
											<td>{{'Signal.Analyst' | translate}}</td>
											<td><input type="text" #analyst="ngModel" name="analyst" [(ngModel)]="signal.id_analyst" class="form-control" disabled></td>
										</tr>
										

                                        <tr>
											<td>{{'Signal.ClosePrice' | translate}}</td>
											<td><input type="text" #close_price="ngModel" name="close_price" [(ngModel)]="signal.close_price" class="form-control"></td>
										</tr>

										<tr>
											<td>{{'Signal.TrendInitial' | translate}}</td>
											<td><input type="text" #type_trend="ngModel" name="type_trend" [(ngModel)]="signal.type_trend" class="form-control" disabled></td>
										</tr>
										

										<tr>
											<td>Pips</td>
											<td><input type="text" #pip="ngModel" name="pip" [(ngModel)]="signal.pip" class="form-control"></td>
										</tr>
                                       
                                        
                                        <tr>
                                        <td>{{'Signal.TrendFinal' | translate}}</td> 
										<td>
												<select #type_trend_final="ngModel"  name="type_trend_final" [(ngModel)]="signal.type_trend_final" class="form-control">
												
													<option value="Alcista">Alcista</option>
													<option value="Bajista">Bajista</option>
													
												</select>
											</td>



										</tr>


                                       <tr>
											
											<td><input type="hidden" #time_initial="ngModel" name="time_initial" [(ngModel)]="signal.time_initial" class="form-control"></td>
										</tr>
                                       

	
										<tr>
											<td>{{'User.StartDate' | translate}}</td>
											<td><input type="date" #date_signal="ngModel" name="date_signal" [(ngModel)]="signal.date_signal" class="form-control" disabled></td>
										</tr>






<!--//////////////////////////////////////////////////////////////////////////////////////////-->
                                      
                                <tr>
											<td>{{'User.EndDate' | translate}}</td>
											<td><input type="date" #date_final="ngModel" name="date_final" [(ngModel)]="signal.date_final" class="form-control"></td>
										</tr>

									</table>
								</div>
							</div> 
						</div>

						   
										
											
												<div class="row">
												<div class="col-sm-6">
												<div *ngIf="is_edit">

   <img src="http://localhost/sequeira-global-backend/uploads/{{signal.graph_image}}" style="width: 280px; height: 150px; margin-left: 400px; border-radius: 5px;" /><br>
                                                <h5 style="margin-left: 470px; ">Grafico inicial</h5>
                                                </div>
												</div>
												</div> 
											    <br>
											    <br><hr>
                                    

                                                <h4>{{'Signal.ChooseFile' | translate}}</h4><br>
												<div class="row">
												
												<div class="col-sm-4">
												 <input type="file" class="form-control" (change)="fileChangeEvent($event)">
												</div>

												</div>
											

                                               <table>
												<tr>
										
											<td><input type="submit" value="{{'Signal.Update' | translate}}" style="margin-left: 490px;" ></td>
											
										</tr>
									</table>
										
										
						</form>
					</div>
						
					
					</div>


          </section>