
<link rel="stylesheet" href="assets/css/style.css"> 

<br><br>
<nav id="mobile_navigation"></nav>
			
			<section id="breadcrumbs">
				<div class="container">
					<ul>
						<li><a [routerLink]="['/signal']" >{{'Signal.BackSignal' | translate}}</a></li>
									
					</ul>
				</div>
			</section>

          <section class="container clearfix main_section">
				<div id="main_content_outer" class="clearfix">
					<div id="">
						<form #formSignal="ngForm" class="ngForm" (ngSubmit)="onSubmitSignal()">
						<!-- main content -->
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">{{'Signal.CreateSignal' | translate}}</h4>
									</div>
									<table id="dt_basic" class="table table-striped">
										<tr>
											<td>{{'Signal.Instrument' | translate}}</td>
											<td>
												<select #instrument="ngModel" name="instrument" [(ngModel)]="signal.instrument"  class="form-control">
													<option value="">- {{'Signal.Instrument' | translate}} -</option>
													<option value="Crude_oli">Crude_oli </option>
													<option value="EUR/USD">EUR/USD</option>
													<option value="GBP/USD">GBP/USD</option>
												</select>
											</td>
										</tr>
										<tr>
											<td>{{'Signal.OpenPrice' | translate}}</td>
											<td><input type="text" #open_price="ngModel" name="open_price" class="form-control" [(ngModel)]="signal.open_price" ></td>
										</tr>
										<tr>
											<td>{{'Signal.Trend' | translate}}</td>
											<td>
												<select #trend="ngModel"  name="trend" [(ngModel)]="signal.trend" class="form-control">
													<option value="">- {{'Signal.Instrument' | translate}} -</option>
													<option value="comprar">{{'Signal.Buy' | translate}} </option>
													<option value="vender">{{'Signal.Sell' | translate}}</option>
												</select>
											</td>
										</tr>
										<tr>
											<td>T/P 1</td>
											<td><input type="text" #tp1="ngModel" name="tp1" [(ngModel)]="signal.tp1"  class="form-control"></td>
										</tr>
										<tr>
											<td>T/P 2</td>
											<td><input type="text" #tp2="ngModel" name="tp2" [(ngModel)]="signal.tp2" class="form-control"></td>
										</tr>
										<tr>
											<td>S/L</td>
											<td><input type="text" #sl="ngModel" name="sl" [(ngModel)]="signal.sl" class="form-control"></td>
										</tr>

										 <tr>
                                        <td>{{'Signal.Condition' | translate}}</td> 
										<td>
												<select #condition_signal="ngModel"  name="condition_signal" [(ngModel)]="signal.condition_signal" class="form-control" disabled>
												
													<option value="Abierta">{{'Signal.OpenCondition' | translate}}</option>
													<option value="Cerrada">{{'Signal.CloseCondition' | translate}}</option>
													
												</select>
											</td>
										</tr>

                         				<tr>
											<td>{{'Signal.Analyst' | translate}}</td>
											<td><input type="text"  name="analyst" value="{{user_analyst.name_analyst}}" class="form-control" disabled></td>
										</tr>
										
										<tr>
											<td>{{'Signal.Date' | translate}}</td>
											<td><input type="date" #date_signal="ngModel" name="date_signal" [(ngModel)]="signal.date_signal" class="form-control" disabled></td>
										</tr>
									
                            	</table>
								</div>
							</div> 
						</div>

						   
										
										
												<div class="row">
												<div class="col-sm-6">
												<div *ngIf="is_edit">

   <img src="http://localhost/sequeira-global-backend/uploads/{{signal.graph_image}}" style="width: 280px; height: 150px; margin-left: 400px; border-radius: 5px;" /><br>
                                                </div><br>
												 <input type="file" class="form-control" (change)="fileChangeEvent($event)"><br><br>
												</div>
												</div> 
                                                
                                               <table>
												<tr>
										
											<td><input type="submit" value="{{'Signal.Update' | translate}}" style="margin-left: 490px;" ></td>
											<td><input type="submit" (click)="onDeleteSignal(signal.id)" value="{{'Signal.Delete' | translate}}" style="margin-left: 20px;" ></td>
										</tr>
									</table>
										
										
						</form>
					</div>
						
					
					</div>


          </section>