
<link rel="stylesheet" href="assets/css/style.css"> 

<br><br>
<nav id="mobile_navigation"></nav>
			
			<section id="breadcrumbs">
				<div class="container">
					<ul>
						<li><a [routerLink]="['/home']">{{'Desktop' | translate}}</a></li>
						<li><a [routerLink]="['/signal']"><b>{{'Signal.SignalToday' | translate}}</b></a></li>	
						<li><a [routerLink]="['/createSignal']">{{'Signal.CreateSignal' | translate}}</a></li>		
						<li><a [routerLink]="['/signalAll']">{{'Signal.TotalSignal' | translate}}</a></li>	
								
					</ul>
				</div>
			</section>


<section class="container clearfix main_section">
				<div id="main_content_outer" class="clearfix">

						<!-- main content -->
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">{{'Signal.SignalMonth' | translate}}</h4>
									</div>
									<table id="dt_basic" class="table table-striped">
											<thead>
											<tr>
												<th>{{'Signal.SeeSignal' | translate}}</th>
												<th>{{'Signal.UpdateAndDelete' | translate}}</th>
												<th>{{'Signal.Instrument' | translate}}</th>
												<th>{{'Signal.OpenPrice' | translate}}</th>
												<th>T/P</th>
												<th>T/L</th>
												<th>S/L</th>
												<th>{{'Signal.Date' | translate}}</th>
												<th>{{'Signal.CloseSignal' | translate}}</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor=" let signal of signal_array | paginate: { itemsPerPage:10, currentPage: step } ">

										    <td *ngIf="signal.state_signal==1" [routerLink]="['/signal-detail',signal.id]"><a>{{'Signal.See' | translate}}</a></td>
										    <td *ngIf="signal.state_signal==2" [routerLink]="['/signalClose-detail',signal.id]"><a>{{'Signal.See' | translate}}</a></td>
										    
										    <td *ngIf="signal.state_signal==1" [routerLink]="['/signal-edit',signal.id]"><a>{{'Signal.UpdaDelete' | translate}}</a></td>
										    <td *ngIf="signal.state_signal==2">{{'Signal.Disable' | translate}}</td>

											<td>{{signal.instrument}}</td>
											<td>{{signal.open_price}}</td>
											<td>{{signal.tp1}}</td>
											<td>{{signal.tp2}}</td>
											<td>{{signal.sl}}</td>
											<td>{{signal.date_signal}}</td>		
											<td  *ngIf="signal.state_signal==1"  [routerLink]="['/signal-close',signal.id]"><a>{{'Signal.Close' | translate}}</a></td>
											<td  *ngIf="signal.state_signal==2">{{'Signal.Closed' | translate}}</td>

											</tr>

											
										</tbody>
									</table>
									<pagination-controls (pageChange)= "step = $event"></pagination-controls>
								</div>
							</div>
						</div>
				
						
					
	
				</div>
			</section>

