<br><br>
 <div class="row">

					
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">{{'User.BankDetails' | translate}}</h4>
									</div>

									<table id="dt_basic" class="table table-striped">
										
										<tr>
											<td>Correo electrónico</td>
											<td><input type="email" class="form-control" [(ngModel)]="email" ></td>
										</tr>
										<tr>
											<td>Contraseña</td>
											<td><input type="text" [(ngModel)]="password" class="form-control" ></td>
										</tr>

										<tr>
											<td></td>
											<td><button style="width:80%;" class="boton-save" (click)="signup()" [disabled]="!email || !password" >Agregar cuenta</button></td>
										</tr>
										
								    </table>

									</div>
                              </div>
              
                     </div>