<link rel="stylesheet" href="assets/css/style.css">

<br><br>
<nav id="mobile_navigation"></nav>
			
			<section id="breadcrumbs">
				<div class="container">
					<ul>
						
					
						<li *ngIf="admin==true" ><a [routerLink]="['/createUserAdministrative']">Crear Usuario Administrador</a></li> 	
						<li><a [routerLink]="['/userAnalyst']">{{'User.AnalystUser' | translate}}</a></li>
						<li><a [routerLink]="['/clientUser']">{{'User.ClientSignal' | translate}}</a></li>
						<li><a [routerLink]="['/preferredUser']">{{'User.PreferredPartnerUsers' | translate}}</a></li>
										
					</ul>
				</div>
			</section>


			<section class="container clearfix main_section">
				<div id="main_content_outer" class="clearfix">
				
						
						<!-- main content -->
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">{{'User.AdministrativeUser' | translate}}</h4>
									</div>
									<table id="dt_basic" class="table table-striped">
										<thead>
											<tr>
											    <th>Ver Usuario</th>
											    <th>Editar Usuario</th>
												<th>Cédula</th>
												<th>{{'User.Name' | translate}}</th>
												<th>{{'User.Email' | translate}}</th>
												<th>{{'User.Telephone' | translate}}</th>
												<th>{{'User.Country' | translate}}</th>
												<th>Dirección</th>
												<th>{{'Signal.Date' | translate}}</th>
												<th>{{'User.Hierarchy' | translate}}</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor=" let user of user_array">
											<td *ngIf="admin==true"><a  [routerLink]="['/userAdministrative-detail',user.id]" >Ver</a></td>
											<td *ngIf="admin!=true">Inhabilitada</td>
											<td *ngIf="admin==true" ><a [routerLink]="['/userAdministrative-edit',user.id]" >Editar</a></td>
											<td *ngIf="admin!=true">Inhabilitada</td>
											<td>{{user.identityCard}}</td>
											<td>{{user.name_administrative}}</td>
											<td>{{user.email_administrative}}</td>
											<td>{{user.telephone_administrative}}</td>
											<td>{{user.country_administrative}}</td>
											<td>{{user.address_administrative}}</td>
											<td>{{user.date_administrative}}</td>
											<td>{{user.hierarchy_administrative}}</td>
											
											</tr>
											
										</tbody>
									</table>
								</div>
							</div>
						</div>
	
					</div>
				
			</section>