<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" type="text/javascript" href="assets/bootstrap/css/bootstrap.min.css">

<br><br>
<section id="breadcrumbs">
				<div class="container">
					<ul>
						
						<li><a *ngIf="admin==true" [routerLink]="['/userAnalyst']">{{'User.PartnerBack' | translate}}</a></li>					
					</ul>
				</div>
			</section>
 
<div *ngIf="admin!=true" class="error"><b>{{'User.RestrictedAccess' | translate}}</b></div>
<section *ngIf="admin==true" class="container clearfix main_section">
				<div id="main_content_outer" class="clearfix">
					 
					 <form #formUserAnalyst ="ngForm" (ngSubmit)="onSubmitAnalyst()">
						<!-- main content -->
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">{{'User.CreateUser' | translate}}</h4>
									</div>
									<table id="dt_basic" class="table table-striped">
										

										<tr>
											<td>{{'User.IdentityCard' | translate}}</td>
											<td><input type="text" #identityCard_analyst="ngModel"  name="identityCard_analyst" [(ngModel)]="user_analyst.identityCard_analyst" class="form-control" disabled ></td>
										</tr>

										<tr>
											<td>{{'User.Name' | translate}}</td>
											<td><input type="text" #name_analyst="ngModel"  name="name_analyst" [(ngModel)]="user_analyst.name_analyst" class="form-control" disabled ></td>
										</tr>

										<tr>
											<td>{{'User.Email' | translate}}</td>
											<td><input type="text" #email_analyst="ngModel"  name="email_analyst" [(ngModel)]="user_analyst.email_analyst" class="form-control" disabled ></td>
										</tr>

										<tr>
											<td>{{'Signal.Date' | translate}}</td>
											<td><input type="date" #date_analyst="ngModel"  name="date_analyst" [(ngModel)]="user_analyst.date_analyst" class="form-control" disabled ></td>
                                        </tr>

										

										<tr>
											<td>{{'User.Hierarchy' | translate}}</td>
											<td><input type="text" #hierarchy_analyst="ngModel"  name="hierarchy_analyst" [(ngModel)]="user_analyst.hierarchy_analyst" class="form-control"></td>
										</tr>
										
										
										
										<tr>
											<td>{{'User.Telephone' | translate}}</td>
											<td><input type="text" #telephone_analyst="ngModel"  name="telephone_analyst" [(ngModel)]="user_analyst.telephone_analyst" class="form-control"></td>

										</tr>
										<tr>
											<td>{{'User.Country' | translate}}</td>
											<td><input type="text" #country_analyst="ngModel"  name="country_analyst" [(ngModel)]="user_analyst.country_analyst" class="form-control"></td>
										</tr>
										<tr>
											<td>{{'User.Address' | translate}}</td>
											<td><input type="text" #address_analyst="ngModel"  name="address_analyst" [(ngModel)]="user_analyst.address_analyst" class="form-control"></td>
										</tr>
										
										
                                       
									</table>
								</div>
							</div>
						</div>	


						<br><br>
					        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{'User.ProfilePicture' | translate}}
					        <br><br><img src="http://localhost/sequeira-global-backend/uploads/{{user_analyst.profile_picture_analyst}} " style="width:30%; height: 180px; margin-left: 330px; border-radius: 10px;" /><br><br><br><br>



										{{'User.NewCopyIdentityCard' | translate}}
										
												<div class="row"><br>
												<div class="col-sm-6">
												<input type="file" class="form-control" (change)="fileChangeEvent($event)"><br><br>
												</div>
												</div>

					        <hr>


					        <input type="submit" value="{{'User.EditUserPartner' | translate}}" style="margin-left: 420px;">

						</form>		
					</div>
			
			</section>




