
<link rel="stylesheet" href="assets/css/style.css">

<br><br>
<nav id="mobile_navigation"></nav>
			
			<section id="breadcrumbs">
				<div class="container">
					<ul>
						
						<li><a [routerLink]="['/users']">{{'User.AdministrativeUser' | translate}}</a></li>
						<li><a [routerLink]="['/clientUser']">{{'User.ClientSignal' | translate}}</a></li>
						<li><a [routerLink]="['/preferredUser']">{{'User.PreferredPartnerUsers' | translate}}</a></li>					
					</ul>
					<ul>
					 
						<li><a *ngIf="admin==true" [routerLink]="['/createUserAnalyst']">{{'User.CreateUserAnalyst' | translate}}</a></li>				
					</ul>
				</div>
			</section>


			<section class="container clearfix main_section">
				<div id="main_content_outer" class="clearfix">
				
						
						<!-- main content -->
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 *ngIf="admin==true" class="panel-title">{{'User.AnalystUser' | translate}}</h4>
										<h4 *ngIf="admin!=true" class="panel-title">Información restringida</h4>
									</div>
									<table *ngIf="admin==true" id="dt_basic" class="table table-striped">
										<thead>
											<tr>
											    <th>{{'User.SeeUser' | translate}}</th>
											    <th>{{'User.EditUser' | translate}}</th>
												<th>{{'User.IdentityCard' | translate}}</th>
												<th>{{'User.Name' | translate}}</th>
												<th>{{'User.Email' | translate}}</th>
												<th>{{'User.Telephone' | translate}}</th>
												<th>{{'User.Country' | translate}}</th>
												<th>{{'User.Address' | translate}}</th>
												<th>{{'Signal.Date' | translate}}</th>
												<th>{{'User.Hierarchy' | translate}}</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor=" let user of user_array | paginate: { itemsPerPage:10, currentPage: step }">
											<td ><a  [routerLink]="['/userAnalyst-detail',user.id]" >{{'Signal.See' | translate}}</a></td>
										    <td ><a [routerLink]="['/userAnalyst-edit',user.id]" >{{'User.Edit' | translate}}</a></td>
											<td>{{user.identityCard_analyst}}</td>
											<td>{{user.name_analyst}}</td>
											<td>{{user.email_analyst}}</td>
											<td>{{user.telephone_analyst}}</td>
											<td>{{user.country_analyst}}</td>
											<td>{{user.address_analyst}}</td>
											<td>{{user.date_analyst}}</td>
											<td>{{user.hierarchy_analyst}}</td>
											
											</tr>
											
										</tbody>
									</table>
									<pagination-controls (pageChange)= "step = $event"></pagination-controls>
								</div>
							</div>
						</div>
	
					</div>
				
			</section>