
<link rel="stylesheet" href="assets/css/style.css">

<br><br>
<nav id="mobile_navigation"></nav>
			
			<section id="breadcrumbs">
				<div class="container">
					<ul>
						
						<li><a [routerLink]="['/users']">{{'User.AdministrativeUser' | translate}}</a></li>
						<li><a [routerLink]="['/clientUser']">{{'User.ClientSignal' | translate}}</a></li>
						<li><a [routerLink]="['/preferredUser']">{{'User.PreferredPartnerUsers' | translate}}</a></li>					
					</ul>
					<ul>
					 <li><a [routerLink]="['/createUserAnalystEmailPassword']">Crear cuenta usuario analyst</a></li>
						<li><a [routerLink]="['/createUser']">{{'User.CreateUser' | translate}}</a></li>				
					</ul>
				</div>
			</section>


			<section class="container clearfix main_section">
				<div id="main_content_outer" class="clearfix">
				
						
						<!-- main content -->
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">{{'User.AnalystUser' | translate}}</h4>
									</div>
									<table id="dt_basic" class="table table-striped">
										<thead>
											<tr>
												<th>ID</th>
												<th>{{'User.Name' | translate}}</th>
												<th>{{'User.Email' | translate}}</th>
												<th>{{'User.Telephone' | translate}}</th>
												<th>{{'User.Country' | translate}}</th>
												<th>{{'Signal.Date' | translate}}</th>
												<th>{{'User.Hierarchy' | translate}}</th>
											</tr>
										</thead>
										<tbody>
											<tr><td>1</td><td><a href="admin_users_analitics_edit.html"> Gonzalo lopez</a></td><td>asequeira@sequeiraglobal.com</td><td>+506 72708004</td><td>Londres</td><td>11/06/2017</td><td>Analista</td></tr>
											<tr><td>2</td><td><a href="admin_users_analitics_edit.html">Marcela Solis</a></td><td>shontintong@sequeiraglobal.com</td><td>+506 60565050 </td><td>Costa Rica</td><td>11/06/207</td><td>Analista</td></tr>
											
											
										</tbody>
									</table>
								</div>
						
					     	</div>
				 
				      	</div>
						
					
					</div>
				
			</section>